<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-3">Welcome to the Shopping List SPA!</h1>
      <p class="lead">
        As they say: "Thou shalt not purchase, yer with a list."</p>
    </div>
  </div>
  <div class="container">
    <div class="left-part">
      <form-component (newProductAdded)="showAllProducts()"></form-component>
    </div>

    <div class="buttons-bar">
      <button type="button" class="btn btn-default" (click)="showAllProducts()">Show All Products
        <i class="fa fa-th" style="font-size:24px">
        </i>
      </button>
      <button type="button" class="btn btn-default" (click)="showPurchasedList()">
        Show Shopping Cart
        <i class="fa fa-cart-plus" style="font-size:24px"></i>
      </button>

      <button type="button" class="btn btn-default" (click)="showNotBought()">
        Show Available to Purchase
        <i class="fa fa-diamond" style="font-size:24px">
        </i>
      </button>

      <span class="search-bar">
        <input type="txt" (keyup)="filterByName()" (focusout)="cleanFilter()" placeholder="Search...." [(ngModel)]="searchText">
        <i class="fa fa-spinner fa-spin" style="font-size:20px"></i>
      </span>
    </div>

    <div class="table-part">
      <table-component [listToShow]="listToShow" [total]="total" (itemChanged)="showAllProducts()"></table-component>
    </div>
  </div>
</body>

</html>